@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header section */

.header{
    width: 100%;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 240px;
}

.header a{
    text-decoration: none;
}

.header h2{
    color: #f9faf8;
    font-size: 24px;
    text-decoration: none;
}

.header-links{
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-links li{
    list-style-type: none;
}

.header-links a{
    font-size: 18px;
    color: #e5e7eb;
    padding: 0 16px;
}

/* hero section */

.hero{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 240px;
    height: 50vh;
    color: white;
}

.hero .content-right img{
    width: 550px;
    height: auto;
}

.hero .content-left h1{
    font-size: 48px;
    color: #f9faf8;
    padding-bottom: 10px;
    line-height: 40px;
    font-weight: 900;
}

.hero .content-left p{
    padding-top: 16px;
    padding-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.hero button{
    background-color: #3882f6;
    color: white;
    padding: 16px 48px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
}

/* random information section */

.random-info{
    padding-top: 24px;
    padding-bottom: 50px;
}

.random-info h2{
    text-align: center;
    padding: 24px 0;
    font-size: 36px;
    color: #1f2937;
}

.row{
    /* border: 1px solid green; */
    margin: 24px 270px;

    display: flex;
    justify-content: space-around;
}

.content-random{
    border: 1px solid black;
    width: 300px;
    height: 340px;
    padding: 12px 20px;
    border-radius: 4px;
}

.content-random img{
    width: 100%;
}

.content-random p{
    text-align: justify;
    padding: 10px 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}

/* quote */

.quote{
    background-color: #e5e7eb;
    padding: 120px 0;
}

.quote p{
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote .author{
    font-weight: 700;
    font-size: 24px;
    margin-top: 24px;
    margin-left: 520px;
}






